{% include 'header.html' %}
  <table class="table table-light">
    <thead class="thead-light">
        <tr>
            <th>#</th>
            <th>Nombre</th>
            <th>Correo</th>
            <th>Foto</th>
            <th><a href="/create">Nuevo</a></th>
        </tr>
    </thead>
    <tbody>
        {% for empleado  in empleados %} 
        <tr>
            <td scope="row">{{empleado[0]}}</td>
            <td>{{empleado[1]}}</td>
            <td>{{empleado[2]}}</td>
            <td> <img class="img-thumbnail" width="100" src="uploads/{{empleado[3]}}" alt="{{empleado[3]}}"></td>
            <td>
               <a class="btn btn-warning" href="/edit/{{empleado[0]}}" rel="noopener noreferrer">editar</a>  / 
               <a onclick="return confirm('¿Desea borrar el empleado?')" class="btn btn-danger" href="/destroy/{{empleado[0]}}" rel="noopener noreferrer">Eliminar</a></td>
        </tr> 
        {% endfor %}
    </tbody>
  </table>
  {% include 'footer.html' %}